.contai {
    @media (min-width: 320px) and (max-width: 991.98px) {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 550px 2600px 1500px 900px 120px 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "header"
            "section1"
            "section2"
            "section3"
            "section4"
            "btn"
            "footer";
        
    }
}

.section4 {
    color: beige;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: black;
    display: grid;
    grid-template-areas: "img parrafo"
        "parrafo parrafo";
    grid-template-columns: 600px 1fr;
    grid-template-rows: 450px 100px;
    padding-bottom: 40px;

    @media (min-width: 320px) and (max-width: 991.98px) {
      
        grid-area: section1;
        padding-top: 5%;
        padding-left: 1%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 220px 150px 1px;
    }

    &__img {
        height: 500px;
        border-radius: 50px;
        padding-top: 10px;
        margin-left: -20px;

        @media (min-width: 320px) and (max-width: 991.98px) {
   
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
        font-family: 'Montserrat Alternates', sans-serif;
    
    }
    
    &__div2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 50px;
        padding-left: 30px;
        font-size: 25px;

        @media (min-width: 320px) and (max-width: 991.98px) {

            font-size: 15px;
            line-height: 30px;
            display: block;
            justify-content: center;
        }
    }
}

.section0 {
    background-color: black;
    padding-top: 10%;

    @media (min-width: 320px) and (max-width: 991.98px) {
      
        grid-area: section2;
       
    }

    &__div1 {
        display: flex;
        justify-content: center;
        font-family: $FuentePrincipal;
        color: $color-secundario;
        padding-bottom: 10%;

        @media (min-width: 320px) and (max-width: 991.98px) {
      
        justify-content: flex-start;
           
        }

        .section0__h2 {
            font-size: 100px;
            padding-left: 10%;

            @media (min-width: 320px) and (max-width: 991.98px) {
      
                font-size: 80px;
                display: flex;
                justify-content: center;
                   
            }
        }
    }

    &__div2 {
        display: flex;

        @media (min-width: 320px) and (max-width: 991.98px) {
      
            flex-direction: column;
               
            }
        
        .section0__img1{
            height: 600px;
            padding-left: 10%;
            border-radius: 0 0 30px 0;

             @media (min-width: 320px) and (max-width: 991.98px) {
      
               width: 85%;
               padding-left: 10%;
                   
            }

        }

        .section0__div2__1 {
            display: inline-flex;
            flex-direction: column;
            padding: 5% 0 0 5%;
            font-family: $FuentePrincipal;
            font-size: 50px;
            color: $color-secundario;

            @media (min-width: 320px) and (max-width: 991.98px) {
      
               text-align: center;
                    
             }
            
        }
    }

    &__div3 {
        display: grid;
        grid-template-columns: 600px 1fr;
        grid-template-rows: 1fr;
        padding-top: 10%;

        @media (min-width: 320px) and (max-width: 991.98px) {
      
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
               
            }

        .section0__div3__3 {
            display: flex;
            justify-content: center;

            @media (min-width: 320px) and (max-width: 991.98px) {
      
                grid-row-start: 1;
                justify-content: flex-start;
                   
                }
            
            .section0__img2{
                height: 600px;
                border-radius: 30px 0 0 30px;

                @media (min-width: 320px) and (max-width: 991.98px) {
      
                    width: 85%;
                    padding-left: 10%;
                }
            }
        }

        .section0__div3__2 {
            display: inline-flex;
            flex-direction: column;
            padding: 5% 0 0 10%;
            font-family: $FuentePrincipal;
            font-size: 50px;
            color: $color-secundario;
            text-align: end;

            @media (min-width: 320px) and (max-width: 991.98px) {
      
            text-align: center;
                   
                }
        }
    }

    &__div4 {
        display: flex;
        padding-top: 10%;

        @media (min-width: 320px) and (max-width: 991.98px) {
      
            flex-direction: column;
               
        }
        
        .section0__img3{
            height: 600px;
            padding-left: 10%;
            border-radius: 0 30px 0 0;

            @media (min-width: 320px) and (max-width: 991.98px) {
      
                width: 85%;
                padding-left: 10%;
                    
            }

        }

        .section0__div4__1 {
            display: inline-flex;
            flex-direction: column;
            padding: 5% 0 0 5%;
            font-family: $FuentePrincipal;
            font-size: 50px;
            color: $color-secundario;

            @media (min-width: 320px) and (max-width: 991.98px) {
      
                text-align: center;
                     
              }
            
        }
    }
}

/* Comienza section 3 */

.section3 {
    background-color: black;
    color: beige;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 10%;
    padding-top: 200px;

    @media (min-width: 320px) and (max-width: 991.98px) {

        grid-area: section3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-top: 100px;
    }
    
    &__div1 {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding-top: 10%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        font-family: $FuentePrincipal;
        font-size: 25px;
        padding: 0 3% 0 3%;

        @media (min-width: 320px) and (max-width: 991.98px) {

            grid-row-start: 1;

        }
    }
    
    &__div2 {
        display: flex;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
        padding-top: 3%;

        @media (min-width: 320px) and (max-width: 991.98px) {

            display: flex;
            justify-content: center;
            padding-right: 0px;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        
        .section3__img1 {
            height: 400px;
            border-radius: 20px;

            @media (min-width: 320px) and (max-width: 991.98px) {

                height: 95%;
                width: 50%;
            }
        }
    }

    &__div3 {
        display: flex;
        align-items: flex-start;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 25px;
        padding: 5% 3% 0 5%;

        @media (min-width: 320px) and (max-width: 991.98px) {

            grid-row-start: 3;
            grid-column-start: 1;
            grid-column-end: 3;

        }
    }
}

/* Termina section 3, Inicia Section extra*/

.section {
    background-color: $color-primario;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 10%;
    padding-bottom: 10%;

    @media (min-width: 320px) and (max-width: 991.98px) {
      
        grid-area: section4;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 50px;
    }

    &__divs {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: $color-secundario;
        font-family: $FuentePrincipal;

        .section__h2 {
            font-size: 50px;
        }

        .section__p {
            font-size: 20px;
        }

    }

    &__divs4 {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: $color-secundario;
        font-family: $FuentePrincipal;

        @media (min-width: 320px) and (max-width: 991.98px) {

            grid-row-start: 3;
            grid-column-start: 1;

        }

        .section__h2 {
            font-size: 50px;
        }

        .section__p {
            font-size: 20px;
        }

    }

    &__divs3 {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: $color-secundario;
        font-family: $FuentePrincipal;

        @media (min-width: 320px) and (max-width: 991.98px) {

            grid-row-start: 2;
            grid-column-start: 1;

        }

        .section__h2 {
            font-size: 50px;
        }

        .section__p {
            font-size: 20px;
        }

    }

    &__divs1 {
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: $color-secundario;
        font-family: $FuentePrincipal;

        @media (min-width: 320px) and (max-width: 991.98px) {

            grid-row-start: 4;
            grid-column-start: 1;
            text-align: center;

        }

        .section__h {
            font-size: 75px;
        }
    }
}


.div__btn {
    display: flex;
    justify-content: center;
    background-color: $color-primario;
    padding-bottom: 10%;

    @media (min-width: 320px) and (max-width: 991.98px) {
      
        grid-area: btn;
    }

    .btn1 {
        border: 1px solid $color-secundario;
        padding: 10px; 
        background-color: $color-primario; 
        font-size: 25px;
        color: $color-secundario; 
        text-decoration: none; 
        text-transform: uppercase; 
        font-family: $FuentePrincipal;
        border-radius: 50px; 
        
        &:hover {
            background-color: $color-secundario;
            color: $color-primario;
            border: $color-primario;
        }
    }

}