body {
    @media (min-width: 320px) and (max-width: 991.98px) {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 550px 1000px 800px 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "header"
            "section1"
            "section2"
            "section3"
            "footer";
        
    }
}

.section4 {
    color: beige;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: black;
    display: grid;
    grid-template-areas: "img parrafo"
        "parrafo parrafo";
    grid-template-columns: 600px 1fr;
    grid-template-rows: 450px 100px;
    padding-bottom: 100px;

    @media (min-width: 320px) and (max-width: 991.98px) {
      
        grid-area: section1;
        padding-top: 5%;
        padding-left: 1%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 220px 150px 1px;
    }

    &__img {
        height: 500px;
        border-radius: 50px;
        padding-top: 10px;
        margin-left: -20px;

        @media (min-width: 320px) and (max-width: 991.98px) {
   
            height: 220px;
            padding-left: 6%;
        }
    }
    
    &__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
        font-family: 'Montserrat Alternates', sans-serif;
    
    }
    
    &__div2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 50px;
        padding-left: 30px;
        font-size: 25px;

        @media (min-width: 320px) and (max-width: 991.98px) {

            font-size: 15px;
            line-height: 30px;
            display: block;
            justify-content: center;
        }
    }
}

.container-xxl {
    background-color: black;
    padding-top: 10%;
    
    .row {
        padding-left: 5%;

        @media (min-width: 320px) and (max-width: 991.98px) {
  
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .col {

        @media (min-width: 320px) and (max-width: 991.98px) {
 
            padding-left: 10%;
            padding-top: 5%;
            }
        }

        .img1 {
            height: 50%;
            width: 70%;

            @media (min-width: 320px) and (max-width: 991.98px) {
  
                height: 250px;
                width: 250px;
            }
        }
        
        .img2 {
            height: 60%;
            width: 80%;

            @media (min-width: 320px) and (max-width: 991.98px) {
   
                height: 400px;
                width: 250px;
            }
                
        }
        
        .img3 {
            height: 50%;
            width: 70%;

            @media (min-width: 320px) and (max-width: 991.98px) {

                height: 250px;
                width: 250px;
            }
        }
    }
}

/* Comienza section 3 */

.section3 {
    background-color: black;
    color: beige;
    display: grid;
    grid-template-columns: 900px 50px;
    grid-template-rows: 200px 1fr;
    padding-bottom: 10%;
    padding-top: 10%;

    @media (min-width: 320px) and (max-width: 991.98px) {

        grid-area: section3;
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: 250px 500px;
    }
    
    &__div1 {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        padding-top: 10%;
        grid-column-start: 1;
        grid-row-start: 1;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 30px;
    }
    
    &__div2 {
        display: flex;
        justify-content: flex-end;
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        padding-right: 10%;
        padding-top: 5%;

        @media (min-width: 320px) and (max-width: 991.98px) {

            display: flex;
            justify-content: center;
            padding-right: 0px;
        }
        
        .section3__img1 {
            height: 700px;
            border-radius: 20px;

            @media (min-width: 320px) and (max-width: 991.98px) {

                height: 450px;
            }
        }
    }
}

/* Termina section 3 */